<div class="newsletter-form">
  {% comment %}
    MailChimp is the go-to newsletter service for Shopify.
    Use the link below to find your MailChimp form action
    and insert it in your site settings.

    If the form action URL is not set in the theme settings,
    it will fallback to a customer form so you can still capture the email.

    MailChimp newsletter integration and requirement:
     - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
  {% endcomment %}
  {% form 'customer' %}
  {% if block != blank %}
    {% comment %} Part of footer {% endcomment %}
    {%- assign custom_text = block.settings.text -%}
    {%- assign button_text = block.settings.button_text -%}
  {% else %}
    {%- assign custom_text = section.settings.text -%}
    {%- assign button_text = section.settings.button_text -%}
  {% endif %}
  {% if custom_text != blank and form.posted_successfully? != true %}
    <div class="newsletter-form__text">
      {{ custom_text }}
    </div>
  {% endif %}
  {% endform %}
  {% if settings.newsletter_form_action != blank %}
    <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="newsletter-form__input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
      <div class="newsletter-form__btn">
        <input type="submit" class="btn btn--secondary" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
      </div>
    </form>
  {% else %}
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="note form-success h3">{{ 'general.newsletter_form.confirmation' | t }}</p>
      {% else %}
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="newsletter-form__input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter-form__btn">
          <input type="submit" class="btn btn--secondary" name="subscribe" id="subscribe" value="{{ button_text | escape }}">
        </div>
      {% endif %}
    {% endform %}
  {% endif %}

</div>