{%- assign quotted_option_name = '"' | append: option.name | append: '"' -%}
{%- assign option_index = forloop.index -%}
<div class="swatches swatches--{{ option.name | handleize }}{% if settings.option_color_swatches contains quotted_option_name %} swatches--color{% endif %}" data-index="{{ option_index }}">
  <label {% if option.name == 'default' or section.settings.display_option_labels == false and show_label != true %} class="hidden-label"{% endif %}>
    {{ option.name }}
  </label>
  <div class="swatches__options">
  {% for value in option.values %}
    {% if settings.option_color_swatches contains quotted_option_name %}
      <style>
        .swatches__option.swatches__option--{{ value | handleize }} {
          background-color: {{ value | handleize }};
          {% for block in section.blocks %}
            {% if block.type == 'custom_color' and block.settings.title == value %}
              /* {{ block.settings.color_name }} == {{ value }} */
              {% if block.settings.color_image != blank %}
                background-image: url('{{ block.settings.color_image | img_url: '40x40' }}');
              {% else %}
                background-color: {{ block.settings.color_code }};
              {% endif %}
              {% break %}
            {% endif %}
          {% endfor %}
        }
      </style>
    {% endif %}
    <label class="swatches__option swatches__option--{{ value | handleize }}{% if option.selected_value == value %} swatches__option--selected{% endif %}" data-value="{{ value | escape }}" {% if settings.option_color_swatches contains quotted_option_name %} data-color-tooltip="{{ value }}"{% endif %}>
      <input type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if option.selected_value == value %} checked{% endif %} />
      {% unless settings.option_color_swatches contains quotted_option_name %}
        {{ value }}
      {% endunless %}
    </label>
  {% endfor %}
  </div>
</div>
