{% if section.id == 'featured-products' %}
  {%- assign btn_action = section.settings.btn_action -%}
  {%- assign btn_text = section.settings.btn_text -%}
  {%- assign fade_out_title = section.settings.fade_out_title -%}
{% else %}
  {%- assign btn_action = 'add_to_cart' -%}
  {%- assign btn_text = 'Add to cart' -%}
  {%- assign fade_out_title = false -%}
{% endif %}

<div class="product-card">
  {% if product.compare_at_price > product.price %}
    {%- assign discount_percent = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round -%}
    <div class="ribbon">
      <div class="ribbon--red">
        – {{ discount_percent }}%
      </div>
    </div>
  {% endif %}
  <a href="{{ product.url }}" title="{{ 'product.general.link_title' | t: title: product.title }}" class="product-card__image">
    {{ product.featured_image.src | img_url: '400x400', crop: 'center' | img_tag: product.title }}
  </a>
  <div class="product-card__info">
    <div class="product-card__title{% if fade_out_title %} product-card__title--shortable{% endif %}">
      <a href="{{ product.url }}" title="{{ 'product.general.link_title' | t: title: product.title }}">{{ product.title }}</a>
      <div class="dimmer"></div>
    </div>
    <div class="product-card__price product-price">
      {% include 'product-price' %}
    </div>
  </div>
  {% if btn_action == 'add_to_cart' %}
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    <div class="product-form__item product-form__item--submit">
      <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn btn--special btn--full product-card__button product-form__cart-submit">
        <span id="AddToCartText-{{ section.id }}">
          {% unless current_variant.available %}
            {{ 'products.product.sold_out' | t }}
          {% else %}
            {{ btn_text }}
          {% endunless %}
        </span>
      </button>
    </div>
  {% elsif btn_action == 'product_page' %}
    <a href="{{ product.url }}" class="btn btn--special btn--full product-card__button">{{ btn_text }}</a>
  {% endif %}
</div>
