<div class="product-icons grid--full">
  <div class="product-icons__icon grid__item one-quarter">
    {{ 'prodicon-house-min.png' | asset_img_url: '36x36' | img_tag: 'Icon' }}
    <p><span class="variant-qty">{{ current_variant.inventory_quantity }}</span> left in stock</p>
  </div>
  <div class="product-icons__icon grid__item one-quarter">
    {{ 'prodicon-truck-min.png' | asset_img_url: '36x36' | img_tag: 'Icon' }}
    <p>Free returns</p>
  </div>
  <div class="product-icons__icon grid__item one-quarter">
    {{ 'prodicon-badge-min.png' | asset_img_url: '36x36' | img_tag: 'Icon' }}
    <p>24 month warranty</p>
  </div>
  <div class="product-icons__icon grid__item one-quarter">
    {{ 'prodicon-shield-min.png' | asset_img_url: '36x36' | img_tag: 'Icon' }}
    <p>100% secure checkout</p>
  </div>
</div>