<form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form--desktop product-form-product_{{ product.id }}" data-section="product_{{ product.id }}">
  <div class="{% if section.settings.product_options_style contains 'swatches' %}product-options--swatches{% endif %}">
    {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
      {%- assign show_label = true -%}
      {% include 'product-quantity-selector' %}
      {% for option in product.options_with_values %}
        {% include 'product-option' %}
        {% if section.settings.product_options_style contains 'swatches' %}
          {% include 'product-swatch' %}
        {% endif %}
      {% endfor %}
      {%- assign show_label = false -%}
    {% endunless %}
  </div>
  <div class="product-form__cart">
    <button type="submit" name="add" id="AddToCart-product_{{ product.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn btn--special btn--full product-form__cart-submit">
      <span id="AddToCartText-product_{{ product.id }}">
        {% if current_variant.available %}
          {{ 'products.product.add_to_cart' | t }}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </span>
    </button>
  </div>
  <select name="id" id="ProductSelect-product_{{ product.id }}--desktop" class="product-form__variants no-js hider">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
          {{ variant.title }}
        </option>
      {% else %}
        <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
      {% endif %}
    {% endfor %}
  </select>
</form>