<div id="tab-container" class="medium-down--hide tab-container">
  <ul class='etabs'>
    <li class='tab'><a href="#tab-description">{{ "products.product.tabs.description" | t }}</a></li>
 	<li class='tab'><a href="#tab-reviews">{{ "products.product.tabs.reviews" | t }}</a></li>
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% if block.type == 'tab' %}
          {% assign page = pages[block.settings.page] %}
          <li class='tab' {{ block.shopify_attributes }}>
            <a href="#tab-{{ block.id }}">
              {% if block.settings.title != blank %}
                {{ block.settings.title }}
              {% else %}
                {{ page.title }}
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
  <div id="tab-description">
    <div class="product-description rte">
      {{ product.description }}
    </div>
  </div>
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% assign page = pages[block.settings.page] %}
      <div id="tab-{{ block.id }}">
        <div class="tab__page-content rte">
          {{ page.content }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <div id="tab-reviews">
    <div id="shopify-product-reviews" class="js-delete--mobile" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>
</div>