

{% comment %}
  Workaround to get the number of tags excluding tags containing 'deal-' string
{% endcomment %}
{% assign nr_tags = 0 %}

{% for tag in collection.all_tags %}
  {% if tag contains "deal-" %}{% else %}
    {% assign nr_tags = nr_tags | plus: 1 %}
  {% endif %}
{% endfor %}

{% if nr_tags > 0 %}
<div class="collection-filter">
  <h3 class="collection-filter__title">{{ 'collections.filters.title' | t }}:</h3>
  <h4 class="collection-filter__subtitle">
    {{ 'collections.filters.by_tags' | t }}
  </h4>
  <ul class="collection-filter__items collection-filter__items--tags no-bullets">
    {% for tag in collection.all_tags %}

      {%- assign tag_safe = tag | escape -%}
      {%- assign tag_safe_amp = tag | replace: '&', 'amp' | handle -%}

      {% if tag contains "deal-" %}
      {% else %}
      <li>
        {% if current_tags contains tag %}
          <label><input type="checkbox" value="{{ tag }}" checked="true"> {{ tag | link_to_remove_tag: tag }}</label>

        {% comment %}
          Workaround for shopify's problem with tags containing ampersands
        {% endcomment %}
        {% elsif current_tags contains tag_safe %}
          <label><input type="checkbox" value="{{ tag }}" checked="true"> {{ tag | link_to_remove_tag: tag_safe }}</label>
        {% elsif current_tags contains tag_safe_amp %}
          <label><input type="checkbox" value="{{ tag }}" checked="true"> {{ tag | link_to_remove_tag: tag_safe_amp }}</label>
        {% else %}
          <label><input type="checkbox" value="{{ tag }}"> {{ tag | link_to_add_tag: tag }}</label>
        {% endif %}
      </li>
      {% endif %}

    {% endfor %}
    {% if current_tags %}
      <li class="collection-filter__reset">
        <a href="/collections/{{ collection.handle }}">{{ 'collections.filters.reset' | t }}</a>
      </li>
    {% endif %}
  </ul>
</div>
{% endif %}
