{% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
    {% if block.type == 'tab' and block.settings.display_in_mobile %}
      {%- assign has_tabs = true -%}
    {% endif %}
  {% endfor %}
{% endif %}

{% if has_tabs %}
  <dl class="accordion">
    <dt class="accordion__tab-title">Description</dt>
    <dd class="accordion__tab-content">
{% endif %}
<div class="product-info__description{% unless section.settings.limit_description == 'none' %} product-info__description--shrunk{% endunless %}" data-original-height="{{ section.settings.limit_description }}">
  <div class="product-info__full_description rte" itemprop="description">
    {{ product.description }}
  </div>
</div>
<button type="button" class="icon-fallback-text product-info__more">
  <span class="icon icon-chevron-thin-down" aria-hidden="true"></span>
  <span class="fallback-text">{{ "products.product.read_more" | t }}</span>
</button>
{% if has_tabs %}
    </dd>
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% if block.type == 'tab' and block.settings.display_in_mobile %}
          {% assign blog = blogs[block.settings.blog] %}
          {% include "product-tabs-content", tab_content: blank %}
          {% if tab_content != blank %}
            <dt class="accordion__tab-title">
              {% if block.settings.title != blank %}
                {{ block.settings.title }}
              {% else %}
                {{ blog.title }}
              {% endif %}
            </dt>
            <dd class="accordion__tab-content rte">
              {{ tab_content }}
            </dd>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </dl>
{% endif %}