<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
  <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form--mobile product-form-product_{{ product.id }}" data-section="product_{{ product.id }}">
    {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
      {% if section.settings.product_options_style contains 'swatches' %}
        <div class="product-options--swatches grid--full">
          {% include 'product-quantity-selector' %}
          {% for option in product.options_with_values %}
            {% include 'product-option' %}
            {% include 'product-swatch' %}
          {% endfor %}
        </div>
      {% else %}
        {%- assign options_count_mod = product.options.size | modulo: 2 -%}
        {% if options_count_mod == 0 %}
          {%- assign max_options = product.options.size -%}
        {% else %}
          {%- assign max_options = product.options.size | minus: 1 -%}
        {% endif %}
        {% comment %}
          Show maximum, but even amount of options
        {% endcomment %}
        <div class="product-options grid--full">
        {% for option in product.options_with_values limit: max_options %}
          {% capture current %}{% cycle 'first', 'last' %}{% endcapture %}
          <div class="grid__item one-half">
            {% include 'product-option' %}
          </div>
        {% endfor %}
        {% if product.options.size > max_options %}
          {% for option in product.options_with_values offset: max_options %}
            {%- assign current = 'first' -%}
            <div class="grid__item one-half">
              {% include 'product-option' %}
            </div>
            <div class="grid__item one-half">
              {% include 'product-quantity-selector' %}
            </div>
          {% endfor %}
        {% else %}
          <div class="grid__item one-quarter"></div>
          <div class="grid__item two-quarters text-center">
            {%- assign show_label = true -%}
            {% include 'product-quantity-selector' %}
          </div>
          <div class="grid__item one-quarter"></div>
        {% endif %}
        </div>
      {% endif %}
    {% else %}
      <div class="product-options grid--full">
        <div class="grid__item one-quarter"></div>
        <div class="grid__item two-quarters text-center">
          {%- assign show_label = true -%}
          {% include 'product-quantity-selector' %}
        </div>
        <div class="grid__item one-quarter"></div>
      </div>
    {% endunless %}

    <select name="id" id="ProductSelect-product_{{ product.id }}" data-section="product_{{ product.id }}" class="product-form__variants no-js hide">
      {% for variant in product.variants %}
        {% if variant.available %}
          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
            {{ variant.title }}
          </option>
        {% else %}
          <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
        {% endif %}
      {% endfor %}
    </select>


    {% if section.settings.description_location == 'bottom' %}
      <div class="page-width">
        {% include 'product-description' %}
      </div>
    {% endif %}

    {% if settings.sticky_add_to_cart %}
      {% comment %}
        Cart button is hidden in mobile version and sticky version used
        see snippets/cart-sticky-button.liquid
      {% endcomment %}
      <div class="js-sticky-btn-start"></div>
    {% else %}
      <div class="product-form__cart">
        <button type="submit" name="add" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn btn--special btn--full product-form__cart-submit">
          <span class="product-form__cart-submit-text">
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
        </button>
      </div>
    {% endif %}
  </form>
</div>