<div class="product-icons grid--full">
  <div class="product-icons__col grid__item one-quarter">
    <div class="product-icons__icon product-icons__icon--house"></div>
    {% if section.settings.icon_1_text != blank %}
      {% if section.settings.icon_1_text contains "[STOCK_QTY]" %}
        {% capture qty %}
          {% if current_variant.inventory_quantity > 0 %}
            {{ current_variant.inventory_quantity }}
          {% else %}
            {% if current_variant.available %}1{% else %}0{% endif %}
          {% endif %}
        {% endcapture %}
        {% capture stock_span_html %}<span class="variant-qty">{{ qty }}</span>{% endcapture %}
      {% endif %}
      <p>{{ section.settings.icon_1_text | replace: '[STOCK_QTY]', stock_span_html }}</p>
    {% endif %}
  </div>
  <div class="product-icons__col grid__item one-quarter">
    <div class="product-icons__icon product-icons__icon--plane"></div>
    {% if section.settings.icon_2_text != blank %}
      <p>{{ section.settings.icon_2_text }}</p>
    {% endif %}
  </div>
  <div class="product-icons__col grid__item one-quarter">
    <div class="product-icons__icon product-icons__icon--badge"></div>
    {% if section.settings.icon_3_text != blank %}
      <p>{{ section.settings.icon_3_text }}</p>
    {% endif %}
  </div>
  <div class="product-icons__col grid__item one-quarter">
    <div class="product-icons__icon product-icons__icon--shield"></div>
    {% if section.settings.icon_4_text != blank %}
      <p>{{ section.settings.icon_4_text }}</p>
    {% endif %}
  </div>
</div>
