{% for block in section.blocks %}
  <div class="custom__item" {{ block.shopify_attributes }}>
    <div class="custom__item-content custom__item-content--{{ block.type }}">
      {% case block.type %}
        {% when 'image' %}
          {% if block.settings.image != blank %}
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}">
            {% endif %}
            {{ block.settings.image | img_url: '1400x1400', crop: 'middle' | img_tag }}
            {% if block.settings.link != blank %}
              </a>
            {% endif %}
          {% else %}
            <h2 class="text-center">No Image</h2>
          {% endif %}
        {% when 'text' %}
          <div class="text-{{ block.settings.align_text }}">
            {% if block.settings.title != blank %}
              <h2 class="text-center section-heading">{{ block.settings.title | escape }}</h2>
            {% endif %}
            {% if block.settings.text != blank %}
              <div class="custom__item-text rte-setting">{{ block.settings.text }}</div>
            {% endif %}
            {% if block.settings.button_label != blank and block.settings.button_link != blank %}
              <a href="{{ block.settings.button_link }}" class="btn">
                {{ block.settings.button_label }}
              </a>
            {% endif %}
          </div>
        {% when 'html' %}
          {% if block.settings.code != blank %}
            {{ block.settings.code }}
          {% endif %}
      {% endcase %}
    </div>
  </div>
{% else %}
  <div class="empty-section">
    {{ 'homepage.onboarding.no_content' | t }}
  </div>
{% endfor %}

{% schema %}
  {
    "name": "Custom content",
    "class": "section-content",
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "ABOUT US"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Why do we use it?<br> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Align",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "html",
        "name": "Raw HTML code",
        "settings": [
          {
            "type": "textarea",
            "id": "code",
            "label": "HTML"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom content",
        "category": "Content",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}
