{% if section.settings.title != blank %}
  <h2 class="text-center section-heading">{{ section.settings.title | escape }}</h2>
{% endif %}

{% if section.settings.product %}
<div data-section-id="{{ section.id }}" data-section-type="featured-product-section">
  {%- assign product = all_products[section.settings.product] -%}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  <div class="product-list large--hide">
    <div class="product-list__item">
      {%- assign btn_action = section.settings.btn_action -%}
      {%- assign btn_text = section.settings.btn_text -%}
      {%- assign fade_out_title = false -%}
      {%- assign card_hoverable = true -%}
      {% include 'product-card' %}
    </div>
  </div>
  <div class="product-preview page-width--large medium-down--hide">
    <div class="grid">
      <div class="grid__item one-half">
        <div class="product-images product-images--single grid grid--full" id="product_{{ product.id }}_images">
          <div class="product-images__image grid__item one-whole">
            {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
            <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" data-original="{{ featured_image | img_url: 'original' }}">
          </div>
        </div>
      </div>
      <div class="grid__item one-half product-info">
        <div class="product-info__title clearfix">
          <h3>
            {{ product.title }}
          </h3>
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>
        <div class="product-info__description rte">
          {{ product.description }}
        </div>
        {%- assign current_variant = product.selected_or_first_available_variant -%}
        <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-product_{{ product.id }}" data-section="product_{{ product.id }}" data-variants="{% if has_variants %}true{% else %}false{% endif %}">
          <select name="id" id="ProductSelect-product_{{ product.id }}" data-section="product_{{ product.id }}" class="product-form__variants hide">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                  {{ variant.title }}
                </option>
              {% else %}
                <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <div class="product-form__item product-form__item--submit">
            <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn btn--special btn--full product-card__button product-form__cart-submit">
              <span id="AddToCartText-{{ section.id }}">
                {% if current_variant.available %}
                  ADD TO CART
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
  <div class="empty-section">
    {{ 'homepage.onboarding.no_content' | t }}
  </div>
{% endif %}


{% schema %}
  {
    "name": "Featured product",
    "class": "section-featured-product",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured Product"
      },
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "select",
        "id": "btn_action",
        "label": "Button action",
        "options": [
          {
            "value": "none",
            "label": "None (hide button)"
          },
          {
            "value": "add_to_cart",
            "label": "Add to cart and stay on page"
          },
          {
            "value": "add_to_cart_redirect",
            "label": "Add to cart and go to cart page"
          },
          {
            "value": "add_to_cart_checkout",
            "label": "Add to cart and go to checkout"
          },
          {
            "value": "product_page",
            "label": "Product page"
          }
        ],
        "default": "add_to_cart"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button text",
        "default": "Add to Cart"
      }
    ],
    "presets": [
      {
        "name": "Single product",
        "category": "Products"
      }
    ]
  }
{% endschema %}
