{% if section.settings.title != blank %}
  <h2 class="text-center section-heading">{{ section.settings.title | escape }}</h2>
{% endif %}

{% if section.settings.product %}
{%- assign product = all_products[section.settings.product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_product_section = true -%}
<div id="product_{{ product.id }}" data-section-id="product_{{ product.id }}" data-section-type="featured-product-section">
  <div class="product-list large--hide">
    <div class="product-list__item">
      {%- assign btn_action = section.settings.btn_action -%}
      {%- assign btn_text = section.settings.btn_text -%}
      {%- assign card_hoverable = true -%}
      {% include 'product-card' %}
    </div>
  </div>
  <div class="product-preview page-width--large medium-down--hide">
    <div class="grid">
      <div class="grid__item six-twelfths push--one-twelfth">
        {% include 'product-gallery' %}
      </div>
      <div class="grid__item four-twelfths push--one-twelfth">
        <div class="product-info">
          {% include 'product-page-info' %}
          {% include 'product-meta' %}
        </div>
      </div> <!-- end desktop -->
    </div>
  </div>
  {% unless product.empty? %}
    <script type="application/json" id="ProductJson-product_{{ product.id }}">
      {{ product | json }}
    </script>
  {% endunless %}
</div>
{%- assign featured_product_section = false -%}
{% else %}
  <div class="empty-section">
    {{ 'homepage.onboarding.no_content' | t }}
  </div>
{% endif %}


{% schema %}
  {
    "name": "Featured product",
    "class": "section-featured-product",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured Product"
      },
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "select",
        "id": "btn_action",
        "label": "Button action",
        "options": [
          {
            "value": "none",
            "label": "None (hide button)"
          },
          {
            "value": "add_to_cart",
            "label": "Add to cart and stay on page"
          },
          {
            "value": "add_to_cart_redirect",
            "label": "Add to cart and go to cart page"
          },
          {
            "value": "add_to_cart_checkout",
            "label": "Add to cart and go to checkout"
          },
          {
            "value": "product_page",
            "label": "Product page"
          }
        ],
        "default": "add_to_cart"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button text",
        "default": "Add to Cart"
      },
      {
        "type": "header",
        "content": "Product properties"
      },
      {
        "type": "select",
        "id": "product_options_style",
        "label": "Options style",
        "options": [
          {
            "value": "dropdown",
            "label": "Select dropdown list"
          },
          {
            "value": "swatches",
            "label": "Color swatches"
          }
        ],
        "default": "dropdown"
      },
      {
        "type": "checkbox",
        "id": "display_quantity_selector",
        "label": "Display quantity selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Product Gallery"
      },
      {
        "type": "select",
        "id": "gallery_zoom_type",
        "label": "Zoom type",
        "options": [
          {
            "value": "mouseover",
            "label": "On mouse over"
          },
          {
            "value": "grab",
            "label": "On click/touch"
          }
        ],
        "default": "mouseover"
      },
      {
        "type": "checkbox",
        "id": "gallery_arrows",
        "label": "Display arrows",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Single product",
        "category": "Products"
      }
    ]
  }
{% endschema %}
