<div class="grid grid--full">
  <div class="grid__item one-eighth large-up--hide">
    <div class="site-nav--mobile">
      <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
        <span class="icon icon-hamburger" aria-hidden="true"></span>
        <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
      </button>
    </div>
  </div>
  <div class="grid__item six-eighths large-up--seven-eighths">
    {% if template == 'index' %}
      <h1 class="section-header__logo" itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="h1 section-header__logo" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
      {% if section.settings.logo_use_image %}
        <a href="/" itemprop="url" class="section-header__logo-link">
          {% assign logo_max_width = section.settings.logo_max_width | append: 'x' %}
          <img src="{{ section.settings.logo_image | img_url: logo_max_width }}" alt="{{ shop.name }}" itemprop="logo">
        </a>
      {% else %}
        <a href="/" itemprop="url">{{ shop.name }}</a>
      {% endif %}
    {% unless template == 'index' %}
      </div>
    {% else %}
      </h1>
    {% endunless %}
  </div>
  <div class="grid__item one-eighth text-right">
    <div class="site-nav--mobile">
      <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
        <span class="icon-fallback-text">
          <span class="icon icon-cart" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
        </span>
      </a>
    </div>
  </div>
</div>

{% comment %}
<header class="site-header" role="banner">
  <div class="wrapper">

    <div class="grid--full grid--table">
      <div class="grid__item large--one-half">
      </div>
      <div class="grid__item large--one-half large--text-right medium-down--hide">
        {% comment %}
          Show number of items in the cart and total cost in the /cart link

          Ajax Cart Notes:
            - #cartCount updates the total number of items in the cart
            - #cartCost updates the total cost of the cart
            - Documentation:  http://shopify.com/timber#ajax-cart
        {% endcomment %}
        <div>
          <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
            <span class="icon icon-cart" aria-hidden="true"></span>
            {{ 'layout.cart.title' | t }}
            (<span id="CartCount">{{ cart.item_count }}</span>
            {{ 'layout.cart.items_count' | t: count: cart.item_count }}
            <span id="CartCost">{{ cart.total_price | money }}</span>)
          </a>
        </div>

        {% comment %}
          If customer accounts are enabled, provide login and create account links
        {% endcomment %}
        {% if shop.customer_accounts_enabled %}
          <div>
            {% if customer %}
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
              | {{ 'layout.customer.log_out' | t | customer_logout_link }}
            {% else %}
              {{ 'layout.customer.log_in' | t | customer_login_link }}
              | {{ 'layout.customer.create_account' | t | customer_register_link }}
            {% endif %}
          </div>
        {% endif %}

        <div class="site-header__search">
          {% include 'search-bar' %}
        </div>
      </div>
    </div>

  </div>
</header>
{% endcomment %}

<nav class="nav-bar" role="navigation">
  <div class="wrapper">
    <div class="medium-down--hide">
      {% comment %}
        List out your main-menu linklist (default)

        More info on linklists:
          - http://docs.shopify.com/themes/liquid-variables/linklists
      {% endcomment %}
      <!-- begin site-nav -->
      <ul class="site-nav" id="AccessibleNav">
        {% for link in linklists.main-menu.links %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
              <a href="{{ link.url }}" class="site-nav__link">
                {{ link.title }}
                <span class="icon icon-arrow-down" aria-hidden="true"></span>
              </a>
              <ul class="site-nav__dropdown">
                {% for child_link in linklists[child_list_handle].links %}
                  {% assign grand_child_list_handle = child_link.title | handleize %}
                  {% if linklists[grand_child_list_handle].links != blank %}
                    <li class="site-nav--has-dropdown{% if child_link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                      <a href="{{ child_link.url }}" class="site-nav__link">{{ child_link.title | escape }}</a>
                      <ul class="site-nav__dropdown">
                        {% for grand_child_link in linklists[grand_child_list_handle].links %}
                          <li {% if grand_child_link.active %} class="site-nav--active"{% endif %}>
                            <a href="{{ grand_child_link.url }}" class="site-nav__link">{{ grand_child_link.title | escape }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li {% if child_link.active %} class="site-nav--active"{% endif %}>
                      <a href="{{ child_link.url }}" class="site-nav__link">{{ child_link.title | escape }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li {% if link.active %}class="site-nav--active"{% endif %}>
              <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <!-- //site-nav -->
    </div>
  </div>
</nav>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "checkbox",
        "id": "logo_use_image",
        "label": "Use custom logo"
      },
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Custom logo"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Max logo width",
        "default": "220",
        "info": "Defined in pixels. Do not add the 'px' unit."
      }
    ]
  }
{% endschema %}
