<div class="grid--full" data-section-id="{{ section.id }}" data-section-type="header-section">
    <div class="grid__item one-sixth large--hide text-center">
      <button type="button" class="h1 section-header__hamburger icon-fallback-text">
        <span class="icon icon-hamburger" aria-hidden="true"></span>
        <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
      </button>
    </div>
    <div class="grid__item four-sixths large--five-sixths text-center large--text-left">
      {% if template == 'index' %}
        <h1 class="section-header__logo" itemscope itemtype="http://schema.org/Organization">
      {% else %}
        <div class="h1 section-header__logo" itemscope itemtype="http://schema.org/Organization">
      {% endif %}
        {% if section.settings.logo_use_image %}
          <a href="/" itemprop="url" class="section-header__logo-link">
            {% assign logo_max_width = section.settings.logo_max_width | append: 'x' %}
            <img src="{{ section.settings.logo_image | img_url: logo_max_width }}" alt="{{ shop.name }}" itemprop="logo">
          </a>
        {% else %}
          <a href="/" itemprop="url">{{ shop.name }}</a>
        {% endif %}
      {% unless template == 'index' %}
        </div>
      {% else %}
        </h1>
      {% endunless %}
    </div>
    <div class="grid__item one-sixth text-center">
      <a href="/cart" class="js-drawer-open-right section-header__cart-link h1" aria-controls="CartDrawer" aria-expanded="false">
        <span class="icon-fallback-text">
          <span class="icon icon-cart" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
        </span>
      </a>
    </div>
</div>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "checkbox",
        "id": "logo_use_image",
        "label": "Use custom logo"
      },
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Custom logo"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Max logo width",
        "default": "220",
        "info": "Defined in pixels. Do not add the 'px' unit."
      }
    ]
  }
{% endschema %}
