<div class="grid--full section-header__wrapper" data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="grid__item one-sixth large--hide text-center">
    <div class="section-header__hamburger js-drawer-open-left">
      <div class="hamburger">
        <div class="hamburger__bar hamburger__bar--diagonal part-1"></div>
        <div class="hamburger__bar hamburger__bar--horizontal"></div>
        <div class="hamburger__bar hamburger__bar--diagonal part-2"></div>
      </div>
    </div>
  </div>
  <div class="grid__item four-sixths large--five-sixths text-center large--text-left">
    {% if template == 'index' %}
      <h1 class="section-header__logo" itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="h1 section-header__logo" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
      {% if section.settings.logo_use_image %}
        <a href="/" itemprop="url" class="section-header__logo-link">
          {% assign logo_max_width = section.settings.logo_max_width | append: 'x' %}
          <img src="{{ section.settings.logo_image | img_url: logo_max_width }}" alt="{{ shop.name }}" itemprop="logo">
        </a>
      {% elsif section.settings.logo_text != blank %}
        <a href="/" itemprop="url">{{ section.settings.logo_text }}</a>
      {% else %}
        <a href="/" itemprop="url">{{ shop.name }}</a>
      {% endif %}
    {% unless template == 'index' %}
      </div>
    {% else %}
      </h1>
    {% endunless %}
  </div>
  <div class="grid__item one-sixth text-center">
    <a href="/cart" class="h1 section-header__cart-link js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
      <span class="icon-fallback-text">
        <span class="icon icon-cart" aria-hidden="true"></span>
        <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
      </span>
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "text",
        "id": "logo_text",
        "label": "Custom Text",
        "info": "Shop name by default"
      },
      {
        "type": "checkbox",
        "id": "logo_use_image",
        "label": "Use custom logo"
      },
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Image file"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Image max width (desktop)",
        "default": "220",
        "info": "Defined in pixels. Do not add the 'px' unit."
      }
    ]
  }
{% endschema %}
