<style>
  .product-info__description {
    height: {{ section.settings.limit_description }};
  }
</style>

{%- assign current_variant = product.selected_or_first_available_variant -%}

<header class="page-header">
  {% if section.settings.breadcrumbs %}
    {% include 'breadcrumb' %}
  {% endif %}
</header>

<div class="product-template page-width--large" id="product_{{ product.id }}" data-section-id="product_{{ product.id }}" data-section-type="product-template">

  <div class="grid">
    <div class="grid__item one-whole large--two-thirds">

      {% if product.images.size > 1 %}
        <div class="product-images page-width grid grid--full" id="product_{{ product.id }}_images">
          <div class="product-images__thumbs grid__item one-fifth">
            <ul class="no-bullets js-product-thumbs">
              {% for image in product.images %}
                <li>
                  <div class="thumb-overlay">
                    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}" data-id="{{ image.id }}">
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="product-images__image grid__item four-fifths">
            <ul class="no-bullets js-product-image" data-arrows="{{ section.settings.gallery_arrows }}">
              {% for image in product.images %}
                <li>
                  <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" data-original="{{ image.src | img_url: 'original' }}" data-zoom-type="{{ section.settings.gallery_zoom_type }}">
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% else %}
        <div class="product-images product-images--single grid grid--full" id="product_{{ product.id }}_images">
          <div class="product-images__image grid__item one-whole">
            {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
            <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" data-original="{{ featured_image | img_url: 'original' }}">
          </div>
        </div>
      {% endif %}

      {% if section.settings.use_tabs %}
        {% include 'product-tabs' %}
      {% else %}
        <div class="medium-down--hide product-description rte">
          {{ product.description }}
        </div>
      {% endif %}

    </div>
    {% comment %}
      ================= MOBILE VERSION =================
    {% endcomment %}
    <div class="grid__item one-whole large--hide">

      <div class="product-info page-width">
        <div class="product-price clearfix">
          {% include 'product-page-price' %}
        </div>
        <div class="product-info__title clearfix">
          <h3>{{ product.title }}</h3>
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>
        {% if section.settings.description_location == 'top' %}
          {% include 'product-description' %}
        {% endif %}
      </div>
      {% include 'product-page-form-mobile' %}

    </div> <!-- end mobile -->

    {% comment %}
      ================= DESKTOP VERSION =================
    {% endcomment %}
    <div class="grid__item one-whole medium-down--hide large--one-third">
      <div class="product-info">
        {% include 'product-page-info' %}
        {% include 'product-meta' %}
        {% include 'product-page-social' %}
      </div>
    </div> <!-- end desktop -->


    <div class="grid__item one-whole large--two-thirds">

      {% if section.settings.related_products %}
      <div class="related-products">
        {% include 'related-products' %}
      </div>
      {% endif %}

      {% if section.settings.display_icons %}
        <div class="large--hide">
          {% include 'product-icons' %}
        </div>
      {% endif %}

      <div class="{% if section.settings.use_tabs %}large--hide{% endif %}">
        <div id="shopify-product-reviews" class="js-delete--desktop" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      </div>
    </div>

  </div> <!-- end grid -->
</div>

{% unless product.empty? %}
  <script type="application/json" id="ProductJson-product_{{ product.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
  {
    "name": "Product page",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "breadcrumbs",
        "label": "Display breadcrumbs",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_icons",
        "label": "Display icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Product Gallery"
      },
      {
        "type": "select",
        "id": "gallery_zoom_type",
        "label": "Zoom type",
        "options": [
          {
            "value": "mouseover",
            "label": "On mouse over"
          },
          {
            "value": "grab",
            "label": "On click/touch"
          }
        ],
        "default": "mouseover"
      },
      {
        "type": "checkbox",
        "id": "gallery_arrows",
        "label": "Display arrows",
        "default": true
      },
      {
        "type": "header",
        "content": "Product properties"
      },
      {
        "type": "select",
        "id": "product_options_style",
        "label": "Options style",
        "options": [
          {
            "value": "dropdown",
            "label": "Select dropdown list"
          },
          {
            "value": "swatches",
            "label": "Color swatches"
          }
        ],
        "default": "dropdown"
      },
      {
        "type": "checkbox",
        "id": "display_quantity_selector",
        "label": "Display quantity selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_vendor",
        "label": "Display vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "display_collections",
        "label": "Display collections",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "display_tags",
        "label": "Display tags",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "display_sku",
        "label": "Display SKU",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "display_product_type",
        "label": "Display product type",
        "default": false
      },
      {
        "type": "header",
        "content": "Related products"
      },
      {
        "type": "checkbox",
        "id": "related_products",
        "label": "Display related products",
        "default": true
      },
      {
        "type": "text",
        "id": "related_products_title",
        "label": "Widget title",
        "default": "Related products"
      },
      {
         "type": "select",
         "id": "related_products_count",
         "label": "Max number of products",
         "options": [
            {"value": "3", "label": "3"},
            {"value": "4", "label": "4"},
            {"value": "5", "label": "5"},
            {"value": "6", "label": "6"},
            {"value": "7", "label": "7"},
            {"value": "8", "label": "8"},
            {"value": "9", "label": "9"},
            {"value": "10", "label": "10"}
          ],
         "default": "4"
      },
      {
        "type": "select",
        "id": "related_products_button",
        "label": "Add to cart button type",
        "options": [
          {"value": "hover", "label": "Show on hover"},
          {"value": "bottom", "label": "Bottom"},
          {"value": "none", "label": "No button"}
          ],
        "default": "hover"
      },
      {
        "type": "header",
        "content": "Mobile version tweaks"
      },
      {
         "type": "select",
         "id": "description_location",
         "label": "Product description location",
         "options": [
            {"value": "top", "label": "Before options"},
            {"value": "bottom", "label": "After option"}
          ],
         "default": "top"
      },
      {
         "type": "select",
         "id": "limit_description",
         "label": "Product description excerpt",
         "options": [
            {"value": "5rem", "label": "Show 3 lines"},
            {"value": "8rem", "label": "Show 5 lines"},
            {"value": "15rem", "label": "Show 10 lines"},
            {"value": "19rem", "label": "Show 12 lines"},
            {"value": "24rem", "label": "Show 15 lines"},
            {"value": "none", "label": "Show full text"}
          ],
         "default": "8rem",
         "info": "If the hidden part is less than 20% then full text will be shown"
      },
      {
        "type": "checkbox",
        "id": "display_option_labels",
        "label": "Display labels for options",
        "default": false
      },
      {
        "type": "header",
        "content": "Tabs"
      },
      {
        "type": "checkbox",
        "id": "use_tabs",
        "label": "Use tabs",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "tab",
        "name": "Tab",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Tab title"
          },
          {
             "type": "page",
             "id": "page",
             "label": "Page"
          }
        ]
      },
      {
        "type": "custom_color",
        "name": "Custom color",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Color option name",
            "info": "NOTE: specify exact color name used for variant"
          },
          {
             "type": "color",
             "id": "color_code",
             "label": "Choose color"
          },
          {
            "type": "image_picker",
            "id": "color_image",
            "label": "Or upload image",
            "info": "Upload 40x40 image of color/material"
          }
        ]
      }
    ]
  }
{% endschema %}
