<style>
  {% if section.settings.switch_account_search_position %}
  .section-header .header-search__wrapper{
    float: right!important;
  }
  .section-header .user-account{
    float: left!important;
  }
  {% endif %}

  .section-header .with-menu-word::before{
    content: '{{ section.settings.menu_word_mobile }}' !important;
  }



</style>

{% assign menu_type = section.settings.menu_type %}
<div class="grid--full section-header__wrapper" data-section-id="{{ section.id }}" data-section-type="header-section" data-menu-type="{{ menu_type }}" {% if menu_type == "product-menu"%}id="cbp-hsmenu-wrapper"{% endif %}>
  <div class="grid__item two-twelfths large--hide text-center {% if section.settings.display_menu_word_mobile %}with-menu-word{% endif %}">
    <div class="section-header__hamburger js-drawer-open-left">
      <div class="hamburger">
        <div class="hamburger__bar hamburger__bar--diagonal part-1"></div>
        <div class="hamburger__bar hamburger__bar--horizontal"></div>
        <div class="hamburger__bar hamburger__bar--diagonal part-2"></div>
      </div>

    </div>

  </div>
  <div class="grid__item medium-down--eight-twelfths logo-cell">
    {% if template == 'index' %}
      <h1 class="section-header__logo{% if section.settings.logo_use_image %} section-header__logo--image{% endif %}" itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="h1 section-header__logo{% if section.settings.logo_use_image %} section-header__logo--image{% endif %}" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
      {% if section.settings.logo_use_image %}
        <a href="/" class="section-header__logo-link">
          {% assign logo_max_width = section.settings.logo_max_width | append: 'x' %}
          <img src="{{ section.settings.logo_image | img_url: logo_max_width }}" alt="{{ shop.name }}" itemprop="logo" style="margin-top: {{ section.settings.logo_margin }}">
        </a>
      {% elsif section.settings.logo_text != blank %}
        <a href="/" itemprop="name">{{ section.settings.logo_text | truncate: 18, "" }}</a>
      {% else %}
        <a href="/" itemprop="name">{{ shop.name | truncate: 18, "" }}</a>
      {% endif %}
    {% unless template == 'index' %}
      </div>
    {% else %}
      </h1>
    {% endunless %}

    {% include 'deal-of-the-day-navbar-mobile-medium' %}
  </div>
  <div class="grid__item medium-down--hide menu-cell">
    {% include 'main-menu' %}

    {% if section.settings.switch_account_search_position %}
      {% if shop.customer_accounts_enabled %}
        <div class="user-account medium-down--hide">
          <a class="header-icon icon-fallback-text" href="/account">
            {% if section.settings.display_profile_icon %}
              <span class="icon icon-user" aria-hidden="true"></span>
            {% endif %}
            {{ 'customer.account.title' | t | remove: "My"}}
          </a>
        </div>
      {% endif %}
    {% else %}
      <div class="header-search__wrapper">
        <div class="header-search {% if section.settings.switch_account_search_position %} header-search__position-right {% endif %}">
          <button type="button" class="header-icon icon-fallback-text js-expand-search">
            <span class="icon icon-search" aria-hidden="true"></span>
            <span class="fallback-text" aria-hidden="true">Search</span>
          </button>
          {% include 'search-bar' %}
        </div>
      </div>
    {% endif %}

  </div>

  <div class="right-side__wrapper">

    <div class="grid__item two-twelfths cart-cell {% if settings.deal_of_the_day_enabled %}deal-of-the-day-active{% endif %}" >
      <a href="/cart" id="CartIcon" class="h1 section-header__cart-link {% if settings.ajax_cart_method == 'drawer' %}js-drawer-open-right{% elsif settings.ajax_cart_method == 'popup' %}js-modal-open{% endif %}" aria-controls="CartDrawer" aria-expanded="false">
        <span class="section-header__cart-count js-cart-count">
          <span>{{ cart.item_count }}</span>
        </span>
        <span class="section-header__cart-text ">
          {{ 'layout.cart.items_count' | t: count: cart.item_count }}
        </span>
        <span class="icon icon-cart" aria-hidden="true">
          <span class="icon-cart__badge js-cart-count">
            <span>{{ cart.item_count }}</span>
          </span>
        </span>
      </a>
    </div>
    {% include 'deal-of-the-day-navbar-desktop' %}

    {% if section.settings.switch_account_search_position %}
      <div class="header-search__wrapper medium-down--hide">
        <div class="header-search {% if section.settings.switch_account_search_position %} header-search__position-right {% endif %}">
          <button type="button" class="header-icon icon-fallback-text js-expand-search">
            <span class="icon icon-search" aria-hidden="true"></span>
            <span class="fallback-text" aria-hidden="true">Search</span>
          </button>
          {% include 'search-bar' %}
        </div>
      </div>
    {% else %}
      {% if shop.customer_accounts_enabled %}
        <div class="user-account medium-down--hide">
          <a class="header-icon icon-fallback-text" href="/account">
            {% if section.settings.display_profile_icon %}
              <span class="icon icon-user" aria-hidden="true"></span>
            {% endif %}
            {{ 'customer.account.title' | t | remove: "My"}}
          </a>
        </div>
      {% endif %}
    {% endif %}

  </div>


</div>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "text",
        "id": "logo_text",
        "label": "Custom Text",
        "info": "Shop name by default. Limited to 18 characters"
      },
      {
        "type": "checkbox",
        "id": "logo_use_image",
        "label": "Use custom logo"
      },
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Image file"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Image max width (desktop)",
        "default": "220",
        "info": "Defined in pixels. Do not add the 'px' unit."
      },
      {
         "type": "select",
         "id": "logo_margin",
         "label": "Image top margin",
         "options": [
            {"value": "0", "label": "None"},
            {"value": "0.1rem", "label": "1"},
            {"value": "0.2rem", "label": "2"},
            {"value": "0.3rem", "label": "3"},
            {"value": "0.4rem", "label": "4"},
            {"value": "0.5rem", "label": "5"},
            {"value": "0.6rem", "label": "6"},
            {"value": "0.7rem", "label": "7"},
            {"value": "0.8rem", "label": "8"},
            {"value": "0.9rem", "label": "9"},
            {"value": "1rem", "label": "10"},
            {"value": "1.1rem", "label": "11"},
            {"value": "1.2rem", "label": "12"}
          ],
         "default": "0",
         "info": "Use it to fine-tune the logo image position"
      },
      {
        "type": "header",
        "content": "Main Menu"
      },
      {
        "type": "radio",
        "id": "menu_type",
        "label": "Main menu type",
        "default": "text-menu",
        "options": [
          {"value": "text-menu", "label": "Text menu"},
          {"value": "product-menu", "label": "Product menu"}
        ]
      },
      {
        "type": "checkbox",
        "id": "display_product_price",
        "label": "Display product price in Product menu",
        "default": true
      },
      {
        "type": "select",
        "id": "submenu_columns",
        "label": "Display submenu items in columns",
        "options": [
          {"value": "1", "label": "1"},
          {"value": "2", "label": "2"},
          {"value": "3", "label": "3"},
          {"value": "4", "label": "4"},
          {"value": "5", "label": "5"},
          {"value": "6", "label": "6"}
        ],
        "default": "1",
        "info": "This will only work if the submenu has more than 6 items."
      },
      {
        "type": "checkbox",
        "id": "display_menu_word_mobile",
        "label": "Display 'MENU' word",
        "info": "Display 'MENU' word at the right of the menu button on mobile version.",
        "default": false
      },
      {
        "type": "text",
        "id": "menu_word_mobile",
        "label": "Menu Word",
        "default": "MENU"
      },
      {
        "type": "header",
        "content": "Customer accounts"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [Customer accounts](https://help.shopify.com/manual/customers/customer-accounts)"
      },
      {
        "type": "checkbox",
        "id": "display_profile_icon",
        "label": "Display user profile icon",
        "default": true
      },
      {
      "type": "header",
      "content": "Switch position"
      },
      {
      "type": "checkbox",
      "id": "switch_account_search_position",
      "label": "Switch 'Search' field position with 'Account' ",
      "default": false
      }

    ]
  }
{% endschema %}
