
{% if settings.add_to_cart_bar_enabled %}
  {% include 'product-add-to-cart-bar' %}
{% endif %}

<style>
  .product-info__description {
    height: {{ section.settings.limit_description }};
  }
</style>

{%- assign current_variant = product.selected_or_first_available_variant -%}

<header class="page-header">
  {% if section.settings.breadcrumbs %}
    {% include 'breadcrumb' %}
  {% endif %}
</header>

{% include "product-description-split",
  product_description: product.description,
  excerpt_size: section.settings.excerpt_word_count,
  product_short_desc: blank
%}

<div class="product-template page-width--large" id="product_{{ product.id }}" data-lock-atc-btn="{{ section.settings.lock_add_to_cart_btn }}" data-section-id="product_{{ product.id }}" data-section-type="product-template" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="https:{{ product.featured_image.src | img_url: '800x' }}">

  <div class="grid">
    <div class="grid__item one-whole large--two-thirds">

      {% include 'product-gallery' %}

      {% if section.settings.use_tabs %}
        {% include 'product-tabs' %}
      {% else %}
        <div class="medium-down--hide product-description rte">
          {{ product_description }}
        </div>
        {% if section.settings.product_reviews %}
          {% if settings.app_product_reviews_enabled == "product_reviews" %}
      		  <div class="medium-down--hide">
              <div id="shopify-product-reviews" class="js-delete--mobile" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
            </div>
      		{% elsif settings.app_product_reviews_enabled == "loox_reviews" %}
      		  <div class="medium-down--hide">
              <div id="looxReviews" class="js-delete--mobile" data-product-id="{{product.id}}">{{ product.metafields.loox.reviews }}</div>
            </div>
      		{% elsif settings.app_product_reviews_enabled == "yotpo_reviews" %}
      		  <div class="medium-down--hide">
              <div class="yotpo yotpo-main-widget js-delete--mobile"
                  data-product-id="{{ product.id }}"
                  data-name="{{ product.title | escape }}"
                  data-url="{{ shop.url }}{{ product.url }}"
                  data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
                  data-description="{{ product_description | escape }}">
              </div>
            </div>
          {% else  %}
            <div class="medium-down--hide">
              <h3 class="text-meta text-center">Product Reviews app integration required</h3>
              <p class="text-meta text-center">Please enable integration in General Settings > Apps</p>
            </div>
          {% endif %}
        {% endif %}
      {% endif %}

    </div>
    {% comment %}
      ================= MOBILE VERSION =================
    {% endcomment %}
    <div class="grid__item one-whole large--hide">

      <div class="product-info page-width product-info-mobile">
        <div class="product-price clearfix">
          {% include 'product-page-price' %}
        </div>
        <div class="product-info__title clearfix">
          <h3>{{ product.title }}</h3>
          {% if settings.app_product_reviews_enabled != blank %}
            {% if settings.app_product_reviews_enabled == "product_reviews" %}
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            {% elsif settings.app_product_reviews_enabled == "loox_reviews" %}
              <a href="#looxReviews">
                <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
              </a>
            {% elsif settings.app_product_reviews_enabled == "yotpo_reviews" %}
              <div class="yotpo bottomLine"
                   data-appkey="{{ settings.yotpo_app_key }}"
                   data-domain="{{shop.permanent_domain | escape }}"
                   data-product-id="{{ product.id }}"
                   data-product-models="{{ product.id }}"
                   data-name="{{ product.title | escape }}"
                   data-url="{{ shop.url }}{{ product.url }}"
                   data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
                   data-description="{{ product_description | escape }}"
                   data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
              </div>
            {% endif %}
          {% endif %}
        </div>
        {% if section.settings.description_location == 'top' %}
          {% include 'product-description' %}
        {% endif %}
      </div>
      {% include 'product-page-form-mobile' %}

    </div> <!-- end mobile -->

    {% comment %}
      ================= DESKTOP VERSION =================
    {% endcomment %}
    <div class="grid__item one-whole medium-down--hide large--one-third">
      <div class="product-info product-info-desktop">
        {% include 'deal-of-the-day-product' %}
        {% include 'product-page-info' %}
        {% include 'product-meta' %}
        {% if section.settings.display_share_icons %}
          {% include 'product-page-social' %}
        {% endif %}
      </div>
    </div> <!-- end desktop -->


    <div class="grid__item one-whole large--two-thirds">

      {% if section.settings.related_products %}
      <div class="related-products">
        {% include 'related-products' %}
      </div>
      {% endif %}

      {% if section.settings.display_icons %}
        <div class="large--hide">
          {% include 'product-icons' %}
        </div>
      {% endif %}

    </div>

  </div> <!-- end grid -->

  {% capture jsonld_brand_url %}https://{{ shop.domain }}{{ product.vendor | url_for_vendor }}{% endcapture %}
  <script type="application/ld+json"> { "@context": "https://schema.org", "@type": "Product", "@id": {{ canonical_url | json }}, "brand": { "@type": "Brand", "name": {{ product.vendor | json }}, "url": {{ jsonld_brand_url | json }} }, "sku": {{ product.selected_or_first_available_variant.sku | json }}, "description": {{ product_description | strip_html | json }}, "url": {{ canonical_url | json }}, "name": {{ product.title | json }}, {% if product.featured_image %} "image": "https:{{ product.featured_image | product_img_url: 'grande' }}", {% endif %} "offers": [{% for variant in product.variants %}{ "@type": "Offer", "price": "{{ variant.price | divided_by: 100.0 }}", "priceCurrency": "{{ shop.currency }}",{% unless shop.metafields.jsonld.itemCondition == blank %} "itemCondition": "http://schema.org/{{ shop.metafields.jsonld.itemCondition }}",{% endunless %} "availability": "{% if variant.available %}InStock{% else %}OutOfStock{% endif %}" }{% unless forloop.last %},{% endunless %}{% endfor %}] } </script>
</div>

{% unless product.empty? %}
  <script type="application/json" id="ProductJson-product_{{ product.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
  {
    "name": "Product page",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "breadcrumbs",
        "label": "Display breadcrumbs",
        "default": true
      },
      {
        "type": "header",
        "content": "Product Gallery"
      },
      {
        "type": "select",
        "id": "gallery_zoom_type",
        "label": "Zoom type",
        "options": [
          {
            "value": "mouseover",
            "label": "On mouse over"
          },
          {
            "value": "grab",
            "label": "On click/touch"
          }
        ],
        "default": "mouseover"
      },
      {
        "type": "checkbox",
        "id": "gallery_arrows",
        "label": "Display arrows",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "thumbs_arrows",
        "label": "Display Thumbs arrows",
        "default": true
      },
      {
        "type": "header",
        "content": "Short Description"
      },
      {
        "type": "select",
        "id": "excerpt_word_count",
        "label": "Excerpt size",
        "options": [
          {"value": "0", "label": "Disable automatic excerpts"},
          {"value": "10", "label": "10 words"},
          {"value": "15", "label": "15 words"},
          {"value": "20", "label": "20 words"},
          {"value": "25", "label": "25 words"},
          {"value": "30", "label": "30 words"},
          {"value": "35", "label": "35 words"},
          {"value": "40", "label": "40 words"},
          {"value": "45", "label": "45 words"},
          {"value": "50", "label": "50 words"}
        ],
        "default": "15",
        "info": "Maximum amount of words to excerpt from product description"
      },
      {
        "type": "paragraph",
        "content": "NOTE: HTML is stripped from short description. If you want to format short description text (eg. Add bullet points), insert [end-short-description] in the product content, and all the content above will be considered as a short description, the rest as a product description."
      },
      {
        "type": "header",
        "content": "Product properties"
      },
      {
        "type": "select",
        "id": "product_options_style",
        "label": "Product options (variants) style",
        "options": [
          {
            "value": "dropdown",
            "label": "Dropdown"
          },
          {
            "value": "swatches",
            "label": "Swatches"
          }
        ],
        "default": "dropdown"
      },
      {
        "type": "checkbox",
        "id": "hide_variant_with_one_option",
        "label": "Hide variants with only one option",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "display_quantity_selector",
        "label": "Display quantity selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_vendor",
        "label": "Display vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "display_collections",
        "label": "Display collections",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "display_tags",
        "label": "Display tags",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "display_sku",
        "label": "Display SKU",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "display_product_type",
        "label": "Display product type",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "display_share_icons",
        "label": "Display share icons",
        "default": true,
        "info": "Configure your social accounts at General Settings > Social media"
      },
      {
        "type": "header",
        "content": "Icons"
      },
      {
        "type": "checkbox",
        "id": "display_icons",
        "label": "Display icons",
        "default": true
      },
      {
        "type": "text",
        "id": "icon_1_text",
        "label": "Icon 1 text",
        "default": "[STOCK_QTY] left in stock",
        "info": "Variable [STOCK_QTY] replaced with actual number"
      },
      {
        "type": "text",
        "id": "icon_2_text",
        "label": "Icon 2 text",
        "default": "Free returns"
      },
      {
        "type": "text",
        "id": "icon_3_text",
        "label": "Icon 3 text",
        "default": "Best quality"
      },
      {
        "type": "text",
        "id": "icon_4_text",
        "label": "Icon 4 text",
        "default": "Safe checkout"
      },
      {
        "type": "header",
        "content": "Related products"
      },
      {
        "type": "checkbox",
        "id": "related_products",
        "label": "Display related products",
        "default": true
      },
      {
        "type": "text",
        "id": "related_products_title",
        "label": "Widget title",
        "default": "Related products"
      },
      {
         "type": "select",
         "id": "related_products_count",
         "label": "Max number of products",
         "options": [
            {"value": "3", "label": "3"},
            {"value": "4", "label": "4"},
            {"value": "5", "label": "5"},
            {"value": "6", "label": "6"},
            {"value": "7", "label": "7"},
            {"value": "8", "label": "8"},
            {"value": "9", "label": "9"},
            {"value": "10", "label": "10"}
          ],
         "default": "4"
      },
      {
        "type": "select",
        "id": "related_products_button",
        "label": "Add to cart button type",
        "options": [
          {"value": "hover", "label": "Show on hover"},
          {"value": "bottom", "label": "Bottom"},
          {"value": "none", "label": "No button"}
          ],
        "default": "hover"
      },
      {
        "type": "paragraph",
        "content": "By default, products from the same collection are displayed in the related products section. Here's how to manually select related products for each product page:"
      },
      {
        "type": "paragraph",
        "content": "1. Create a menu called Related products (with a handle related-products)"
      },
      {
        "type": "paragraph",
        "content": "2. Add menu item(s) with product/product-handle (eg. product/cool-shirt)"
      },
      {
        "type": "paragraph",
        "content": "3. Select product(s) to be displayed on the product page defined in #2 above. [Learn more](https://desk.zoho.com/portal/tabarnapp/kb/articles/related-products-how-to-manually-select-the-related-products-in-each-product-page)"
      },
      {
        "type": "header",
        "content": "Mobile version tweaks"
      },
      {
        "type": "paragraph",
        "content": "NOTE: you can see these options to take effect only in mobile version (switch to \"Small screen\" below)"
      },
      {
         "type": "select",
         "id": "description_location",
         "label": "Product description location",
         "options": [
            {"value": "top", "label": "Before options"},
            {"value": "bottom", "label": "After options"}
          ],
         "default": "top"
      },
      {
         "type": "select",
         "id": "limit_description",
         "label": "Product description excerpt",
         "options": [
            {"value": "5rem", "label": "Show 3 lines"},
            {"value": "8rem", "label": "Show 5 lines"},
            {"value": "15rem", "label": "Show 10 lines"},
            {"value": "19rem", "label": "Show 12 lines"},
            {"value": "24rem", "label": "Show 15 lines"},
            {"value": "none", "label": "Show full text"}
          ],
         "default": "8rem",
         "info": "If the hidden part is less than 20% then full text will be shown"
      },
      {
        "type": "checkbox",
        "id": "display_option_labels",
        "label": "Display label above variant option selectors",
        "default": true
      },
      {
        "type": "radio",
        "id": "options_layout",
        "label": "Variant options layout",
        "default": "2-column",
        "options": [
          {"value": "1-column", "label": "1-column"},
          {"value": "2-column", "label": "2-column"}
        ]
      },
      {
        "type": "checkbox",
        "id": "lock_add_to_cart_btn",
        "label": "Lock 'Add to cart' button",
        "default": false,
        "info": "By default, the sticky Add to cart button will disappear when users scroll up."
      },
      {
        "type": "header",
        "content": "Tabs"
      },
      {
        "type": "checkbox",
        "id": "use_tabs",
        "label": "Use tabs",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "1. Create navigation menu with a handle `product-tabs`"
      },
      {
        "type": "paragraph",
        "content": "2. Add menu item and select page"
      },
      {
        "type": "paragraph",
        "content": "3. Name your menu item as follows: \"collection/collection-handle\" to display a tab for all products in particular collection; \"product/product-handle\" particular product; \"global\" display tab on all product pages"
      },
      {
        "type": "paragraph",
        "content": "[Click here to learn more](https://desk.zoho.com/portal/tabarnapp/kb/articles/content-tabs-in-product-pages) then scroll down to 'Content tabs' section"
      },
      {
        "type": "header",
        "content": "Reviews"
      },
      {
        "type": "paragraph",
        "content": "Product Reviews app requires integration (see General Settings > Apps)"
      },
      {
        "type": "checkbox",
        "id": "product_reviews",
        "label": "Display product reviews",
        "default": true,
        "info": "If content tabs are disabled, product reviews will be displayed under the product description section. If tabs are enabled, product reviews will be inside the tab called Reviews."
      }
    ],
    "blocks": [
      {
        "type": "tab",
        "name": "Tab (LEGACY)",
        "settings": [
          {
            "type": "paragraph",
            "content": "This is an old way of adding tabs to your product page, that we left for backward compatibility. Please use the new and better way. See details above in the \"Tabs\" section or [here](https://desk.zoho.com/portal/tabarnapp/kb/articles/content-tabs-in-product-pages)."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Tab title"
          },
          {
             "type": "blog",
             "id": "blog",
             "label": "Blog"
          },
          {
            "type": "checkbox",
            "id": "display_in_mobile",
            "label": "Display tab content in mobile version",
            "default": true
          }
        ]
      },
      {
        "type": "custom_color",
        "name": "Custom color",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Color option name",
            "info": "NOTE: specify exact color name used for variant"
          },
          {
             "type": "color",
             "id": "color_code",
             "label": "Choose color"
          },
          {
            "type": "image_picker",
            "id": "color_image",
            "label": "Or upload image",
            "info": "Upload 40x40 image of color/material"
          }
        ]
      }
    ]
  }
{% endschema %}
